<section class="section hero " id="home">
    <div class="container" style="padding-top: 9rem; padding-bottom: 9rem;">
      <figure class="hero-banner">
        <img src="hero-banner.png" width="804" height="643" loading="lazy" alt="hero banner" class="w-100">
      </figure>
  
      <div class="hero-content">
        <h2 class="h1 hero-title" style="font-size: 40px; font-weight: bold;"><strong>TechLogistics S.A.</strong><br></h2>
        <p class="section-text">Es un sistema eficiente de gestión de pedidos,
           mejora la logística de pedidos, optimizando el tiempo y recursos para brindar entregas rápidas y productos de calidad, aumentando la satisfacción del cliente y la eficiencia operativa.
        </p>
      
        <ul class="hero-list">
            <li class="hero-item">
                <img src="check-circle.svg" width="16" height="16" loading="lazy" alt="Checkmark icon">
                <span class="span">Entregas rápidas con el tiempo solicitado</span>
            </li>
            <li class="hero-item">
                <img src="check-circle.svg" width="16" height="16" loading="lazy" alt="Checkmark icon">
                <span class="span">Gestión de inventarios</span>
            </li>
            <li class="hero-item">
                <img src="check-circle.svg" width="16" height="16" loading="lazy" alt="Checkmark icon">
                <span class="span">Alertas automáticas</span>
            </li>
            <li class="hero-item">
                <img src="check-circle.svg" width="16" height="16" loading="lazy" alt="Checkmark icon">
                <span class="span">Entrega de productos de calidad</span>
            </li>
            <li class="hero-item">
                <img src="check-circle.svg" width="16" height="16" loading="lazy" alt="Checkmark icon">
                <span class="span">Todo es eficiente</span>
            </li>
        </ul>
    </div>
    
    </div>
  </section>