<br>
<br>
<br>
<br>
<div class="flex flex-wrap justify-center gap-6">
    <div class="container">
        <div class="cards">
            <div *ngFor="let user of users; let i = index" class="card">
                <div class="card__color-box" 
                    [ngStyle]="{ 'background-color': getColor(i), 
                                 'border': '3px solid ' + getColor(i), 
                                 'box-shadow': '0px 0px 30px 5px ' + getColor(i) + '80' }">
                </div>
                <div class="card__info">
                    <h2 class="card__title">Cliente: {{ user.username }}</h2>
                    <ul>
                        <li><strong>ID:</strong> {{ user._id }}</li>
                        <li><strong>Pedidos:</strong> {{ user.pedidos }}</li>
                        <li><strong>Productos:</strong> {{ user.productos }}</li>
                        <li><strong>Categoría:</strong> {{ user.categorias }}</li>
                        <li><strong>Transportistas:</strong> {{ user.transportistas }}</li>
                        <li><strong>Rutas:</strong> {{ user.rutas }}</li>
                        <li><strong>Estado de Envío:</strong> {{ user.estado_de_envio }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
