<nav class="bg-black text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
      <div>
        <a routerLink="/" class="text-white font-bold text-xl">TechLogistics S.A.</a>  </div>
      <ul class="flex space-x-4">
        <li >
          <a [routerLink]="['list-users']" routerLinkActive="active"
             class="text-gray-300 hover:text-white px-3 py-2 rounded-md font-medium">
              Usuarios
          </a>
        </li>
        <li >
            <a [routerLink]="['log-in']" routerLinkActive="active"
               class="text-gray-300 hover:text-white px-3 py-2 rounded-md font-medium">
                Ingreso
            </a>
          </li>
          <li >
            <a [routerLink]="['registration']" routerLinkActive="active"
               class="text-gray-300 hover:text-white px-3 py-2 rounded-md font-medium">
                Registro
            </a>
          </li>
          <li >
            <a [routerLink]="['search']" routerLinkActive="active"
               class="text-gray-300 hover:text-white px-3 py-2 rounded-md font-medium">
                Buscar
            </a>
          </li>
        
      
        <li >
            <a [routerLink]="['update']" routerLinkActive="active"
               class="text-gray-300 hover:text-white px-3 py-2 rounded-md font-medium">
                Actualizar
            </a>
          </li>
          <li >
            <a [routerLink]="['delete']" routerLinkActive="active"
               class="text-gray-300 hover:text-white px-3 py-2 rounded-md font-medium">
                Borrar
            </a>
          </li>
      </ul>
      </div>
  </nav>
  
<router-outlet />


